html {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 800px)  {

    
    #app {
        margin-inline: 0em;
    } 
    
    #map {
        height: 50vh;
        width: 95vw;
    }
    
    #map-canevas-container {
        display:flex;
        justify-content: center;
        margin-bottom: 0.3em;
    }
    
    app-table {
        display: none;
    }

    app-type-select {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 15% !important;
    }

    app-results {
        padding-top: 3em;
    }

    .badge-panel-items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    app-badge {
        padding: 2px;
        display: inline-flex;
        font-size: 11px;
        flex-grow: 1;
        flex-basis: 40%;
        }

    .badge-position-left > svg > rect {
        fill:#333333;
    }

    .badge-position-right > svg > rect {
        fill: #181818;
    }

    app-badge.true > app-badge-part.badge-position-right > svg > rect {
        fill:#ACE894;
    }

    app-badge.true > app-badge-part.badge-position-right > svg > text {
        fill:#222222;
        font-weight: bold;     
    }
    
    app-badge.false > app-badge-part.badge-position-right > svg > rect {
        fill:#E94F37
    }
    
    app-badge.false > app-badge-part.badge-position-right > svg > text {
        fill:#222222;
        font-weight: bold;     
    }

    app-badge.not-supported > app-badge-part.badge-position-right > svg > text {
        font-size: 9px;   
    }
}


@media screen and (min-width: 800px) and (max-width: 1150px) {

    app-badge-table {
        display: none;
    }

    #app {
        margin-inline: 1.5em;
    } 
    
    #map {
        height: 70vh;
        width: 90vw;
    }

    #map-canevas-container {
        display:flex;
        justify-content: center;
        margin-bottom: 0.3em;
    }

    app-type-select {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 8% !important;
    }

    app-results {
        padding-top: 3em;
    }

    .row {
        display: flex;
    }
    
    .cell {
        width: 12.5%;
        min-width: 50px;
        min-height: 50px;
        background-color: #333333;
        margin-top: 3px;
        margin-right: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .when-collapsed {
        display: none;
    }

}

@media screen and (min-width: 1150px) {

    app-badge-table {
        display: none;
    }

    #app {
        width: min(1400px, 100%);
        margin-inline: auto;
    } 

    #app-body {
        display: flex;
    } 
    
    #map {
        height: 90vh;
        width: min(700px, 50vw);
        float: left;
    }

    app-map-canevas {
        flex-flow: row-reverse;
    }
    app-type-select {
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        display: unset !important;
        width: 40px !important; 
        height: unset !important;
    }

    app-results {
        width: 100%;
        margin-left: 0.5em;}

    .row {
        display: flex;
    }
    
    .cell {
        width: 12.5%;
        min-width: 50px;
        min-height: 50px;
        background-color: #333333;
        margin-top: 3px;
        margin-right: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .when-collapsed {
        display: none;
    }

}

.ol-viewport {
    border-radius: 8px;
}

app-map-canevas {
    display: inline-flex;
    position: relative;
    border-radius: 8px;
}

app-type-select {
    width: 100%;
    height: 10%;
    background: #d4d4dc2a;
    position: absolute;
    display: flex;
}

app-clickable-feature-icon {
    max-width: 90%;
    aspect-ratio: 1;
}

app-clickable-feature-icon.selected {
    fill: #E94F37;
}

app-clickable-feature-icon:hover {
    fill: #E94F37;
    aspect-ratio: 1;
}

/* Specific style for point svg */

svg.icon-point {
    stroke: black;
    aspect-ratio: 1;
}

app-clickable-feature-icon:hover > svg.icon-point {
    stroke: #E94F37;
}

app-clickable-feature-icon.selected > svg.icon-point {
    stroke: #E94F37;
}

app-results {
    color: #cdcdd5}

.input-group {
    display: flex;
}

#result-table {
    text-align: center;
    width: 100%
}

.cell > p, .cell > code {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.empty-cell {
    border: none !important;
    display: hidden !important;
    background: none !important;
}

.false {
    color: #E94F37
}

.true {
    color: #ACE894
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #cdcdd5;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    display: inline;
    background-color: #222222;
    border : 0.5px solid #cdcdd5;
    color: #cdcdd5;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

app-header-title {
    color: #cdcdd5;
    padding-bottom: 40px;
}

#container {
    color:#999;
    font-size:25px;
    font-weight:bold;
    display: flex;
  }
  
  #flip {
    height:30px;
    line-height: 30px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 15s;
  }
  
  @keyframes show {
    0% {margin-top:-120px;}
    9% {margin-top:-120px;}
    10% {margin-top:-90px;}
    19% {margin-top:-90px;}
    20% {margin-top:-60px;}
    29% {margin-top:-60px;}
    30% {margin-top:-30px;}
    39% {margin-top:-30px;}
    40% {margin-top:0px;}
    100% {margin-top:0px;}
  }